In [23]:
#importing libraries
import numpy as np      
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
data=pd.read_csv('insuranceData.csv')

In [24]:
data

      age     bmi  children smoker      charges
0      19  27.900         0    yes  16884.92400
1      18  33.770         1     no   1725.55230
2      28  33.000         3     no   4449.46200
3      33  22.705         0     no  21984.47061
4      32  28.880         0     no   3866.85520
...   ...     ...       ...    ...          ...
1333   50  30.970         3     no  10600.54830
1334   18  31.920         0     no   2205.98080
1335   18  36.850         0     no   1629.83350
1336   21  25.800         0     no   2007.94500
1337   61  29.070         0    yes  29141.36030

[1338 rows x 5 columns]

In [25]:
data.isnull().values.any() #checks for null values and displays "True" if there are any in the data

False

In [26]:
X=data.iloc[:, :-1].values
y=data.iloc[:, 3].values
data.head()

   age     bmi  children smoker      charges
0   19  27.900         0    yes  16884.92400
1   18  33.770         1     no   1725.55230
2   28  33.000         3     no   4449.46200
3   33  22.705         0     no  21984.47061
4   32  28.880         0     no   3866.85520

In [27]:
#encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
onehotencoder = ColumnTransformer([("smoker", OneHotEncoder(), [3])], remainder="passthrough")
X = onehotencoder.fit_transform(X)

In [28]:
#avoiding dummy variable trap
X=X[:, 1:]

In [29]:
#splitting the data into training and test set
from sklearn.model_selection import train_test_split #imports and then splits the dataset into the training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)